streamlit
altair
plotly
st_pages
icecream
black
trycourier==4.4.0
argon2-cffi
streamlit-login-auth-ui
streamlit-extras
streamlit-vertical-slider
replicate
python-dotenv
chat2plot
langchain-community
transformers
bcrypt
passlib