fastapi
uvicorn[standard]
polars
pandas
numpy
scikit-learn
matplotlib
seaborn
altair
plotly
requests
pyarrow
kaleido
keras
scipy
statsmodels
patsy
dask
xarray
pandas-profiling
category-encoders
scikit-learn-extra
imbalanced-learn
shap
eli5
pydot
graphviz
pydotplus
networkx
pygsp